@model List<ormilitarism.Models.title>


<div class="w-100 second">
    <h3 style="display: block;">Bütün zamanlarda ən çox oxunanlar</h3>

    <ul>
        @foreach (var item in Model)
        {
        <li><a href="~/home/onetopic/@item.titleid">@item.titlename (@item.postcount)</a></li>

        }
        


    </ul>
    <a href="~/home/mostpopview" class="btnTopics">
        daha çoxu...
    </a>
</div>
